/* Container for the whole page */
.container {
  width: 100%; /* Full width of the viewport */
  background: hsl(212, 45%, 89%); /* Background color using HSL */
  display: flex; /* Activates flexbox layout for the container */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Occupies the full height of the viewport */
  min-height: 812px; /* Minimum height of the container (for mobile responsiveness) */
  margin: 0; /* Removes any default margin */
}

/* Card container inside the main container */
.card {
  display: flex; /* Activates flexbox layout inside the card */
  align-items: center; /* Vertically centers content within the card */
  flex-direction: column; /* Aligns children (image, title, paragraph) in a column */
  background: #fff; /* Sets background color to white */
  width: 100%; /* Makes the card take 100% width of its container */
  max-width: 320px; /* Limits the maximum width of the card */
  height: 500px; /* Sets the height of the card */
  margin: auto;
  padding: 1rem 1rem 2rem; /* Adds padding inside the card */
  border-radius: 1.5rem; /* Rounds the corners of the card */
}

/* Content inside the card */
.card-content {
  width: 288px; /* Specifies width for the content inside the card */
  height: 130px; /* Specifies height for the content inside the card */
  text-align: center; /* Centers text inside the content */
}

/* Styling for the image inside the card */
.card img {
  max-width: 100%;
  border-radius: 1rem; /* Rounds the corners of the image */
  margin-bottom: 2rem; /* Adds space below the image */
}

/* Styling for the h1 element inside the card */
.card-content h1 {
  font-family: "Outfit", sans-serif; /* Specifies the font family for the title */
  color: hsl(218, 44%, 22%); /* Sets the title text color using HSL */
  font-size: 1.5rem; /* Sets the font size of the title */
  font-weight: 700; /* Makes the title bold */
  line-height: 1.2; /* Controls the line height (spacing between lines) */
  padding-bottom: 1.2rem;
  margin: 0%;
}

/* Styling for the paragraph element inside the card */
.card-content p {
  font-size: 1rem; /* Sets font size for the paragraph */
  font-family: "Outfit", sans-serif; /* Specifies the font family for the paragraph */
  color: hsl(216, 15%, 48%); /* Sets the paragraph text color using HSL */
  letter-spacing: 0.02rem; /* Adds slight space between letters */
  padding: 0;
  margin: 0; /* Removes any default margin */
}
